.u-section-1 .u-sheet-1 {
  min-height: 3228px;
}

.u-section-1 .u-text-1 {
  margin: 8px -69px 0 1013px;
}

.u-section-1 .u-btn-1 {
  padding: 0;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  margin: 4px 354px 0 385px;
}

.u-section-1 .u-btn-2 {
  border-style: black;
  font-weight: 700;
  font-size: 0.9375rem;
  margin: 0 328px 0 auto;
  padding: 6px 165px 6px 164px;
}

.u-section-1 .u-text-3 {
  font-weight: 700;
  margin: 9px 354px 0 385px;
}

.u-section-1 .u-table-1 {
  width: 1100px;
  margin: 27px auto 9px 0;
}

.u-block-51b3-46 {
  background-image: none;
}

.u-section-1 .u-table-entity-1 {
  min-height: 100px;
}

.u-section-1 .u-table-header-1 {
  font-weight: 700;
  background-image: none;
}

.u-section-1 .u-table-cell-8 {
  background-image: none;
}

.u-section-1 .u-table-cell-15 {
  background-image: none;
}

.u-section-1 .u-table-cell-22 {
  background-image: none;
}

.u-section-1 .u-table-cell-29 {
  background-image: none;
}

.u-section-1 .u-table-cell-36 {
  background-image: none;
}

.u-section-1 .u-table-cell-43 {
  background-image: none;
}

.u-section-1 .u-table-cell-50 {
  background-image: none;
}

.u-section-1 .u-table-cell-57 {
  background-image: none;
}

.u-section-1 .u-table-cell-64 {
  background-image: none;
}

.u-section-1 .u-table-cell-71 {
  background-image: none;
}

.u-section-1 .u-table-cell-78 {
  background-image: none;
}

.u-section-1 .u-table-cell-85 {
  background-image: none;
}

.u-section-1 .u-table-cell-92 {
  background-image: none;
}

.u-section-1 .u-table-cell-99 {
  background-image: none;
}

.u-section-1 .u-table-cell-106 {
  background-image: none;
}

.u-section-1 .u-table-cell-113 {
  background-image: none;
}

.u-section-1 .u-table-cell-120 {
  background-image: none;
}

.u-section-1 .u-table-cell-127 {
  background-image: none;
}

.u-section-1 .u-table-cell-134 {
  background-image: none;
}

.u-section-1 .u-table-cell-141 {
  background-image: none;
}

.u-section-1 .u-table-cell-148 {
  background-image: none;
}

.u-section-1 .u-table-cell-155 {
  background-image: none;
}

.u-section-1 .u-table-cell-162 {
  background-image: none;
}

.u-section-1 .u-table-cell-169 {
  background-image: none;
}

.u-section-1 .u-table-cell-176 {
  background-image: none;
}

.u-section-1 .u-table-cell-183 {
  background-image: none;
}

.u-section-1 .u-table-cell-190 {
  background-image: none;
}

.u-section-1 .u-table-cell-197 {
  background-image: none;
}

.u-section-1 .u-table-cell-204 {
  background-image: none;
}

.u-section-1 .u-table-cell-211 {
  background-image: none;
}

.u-section-1 .u-table-cell-218 {
  background-image: none;
}

.u-section-1 .u-table-cell-225 {
  background-image: none;
}

.u-section-1 .u-table-cell-232 {
  background-image: none;
}

.u-section-1 .u-table-cell-239 {
  background-image: none;
}

.u-section-1 .u-table-cell-246 {
  background-image: none;
}

.u-section-1 .u-table-cell-253 {
  background-image: none;
}

.u-section-1 .u-table-cell-260 {
  background-image: none;
}

.u-section-1 .u-table-cell-267 {
  background-image: none;
}

.u-section-1 .u-table-cell-274 {
  background-image: none;
}

.u-section-1 .u-table-cell-281 {
  background-image: none;
}

.u-block-51b3-35 {
  background-image: none;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-left: 913px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 291px;
    margin-left: 285px;
  }

  .u-section-1 .u-btn-2 {
    margin-right: 128px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 254px;
    margin-left: 285px;
  }

  .u-section-1 .u-table-1 {
    width: 940px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-left: 803px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 223px;
    margin-left: 175px;
  }

  .u-section-1 .u-btn-2 {
    margin-right: 0;
  }

  .u-section-1 .u-text-3 {
    margin-right: 144px;
    margin-left: 175px;
  }

  .u-section-1 .u-table-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-left: 713px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 167px;
    margin-left: 85px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 54px;
    margin-left: 85px;
  }

  .u-section-1 .u-table-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    margin-left: 613px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 105px;
    margin-left: 0;
  }

  .u-section-1 .u-text-3 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-table-1 {
    width: 340px;
  }
}